*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  word-wrap: break-word; }

input {
  border-radius: 0; }

img {
  width: 100%; }

ul, ol {
  list-style: none; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em; }

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2em;
  margin-bottom: 1em;
  font-weight: 500; }

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 0.5em; }

p, li {
  font-family: 'Open Sans', sans-serif;
  color: #2e2e2e; }

.btn {
  background-color: #222288;
  color: white;
  box-shadow: 0 5px 20px 0 #be97f19a;
  padding: 0.5em 1.5em;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  margin-top: 0.7em;
  cursor: pointer;
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  width: fit-content; }
  .btn:hover {
    background-color: #18185f; }

.banner {
  height: 590px;
  min-height: 590px;
  background-color: #222288;
  padding: 7em 10em 5em 5em;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 9vh; }

.arrow-down {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .arrow-down:hover {
    animation: hoverZoom 200ms ease-in-out forwards; }

@keyframes hoverZoom {
  0% {
    width: 70px;
    height: 70px; }
  100% {
    width: 75px;
    height: 75px; } }
#text-banner {
  font-size: 2.8em;
  color: white;
  width: fit-content; }

.h1-content {
  color: white; }

.h1-content::after {
  content: "|";
  animation: caret 0.8s  infinite; }

.no-after::after {
  content: none; }

.portrait-banner {
  width: 320px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite; }

.etoile-1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 4%;
  top: 8%;
  animation: shin 800ms 300ms ease-in-out infinite; }

.etoile-2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #9ebffd;
  position: absolute;
  left: 25%;
  top: 12%;
  animation: shin 800ms 400ms ease-in-out infinite; }

.etoile-3 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 42%;
  top: 23%; }

.etoile-4 {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #9ebffd;
  position: absolute;
  right: 23%;
  top: 7%;
  animation: shin 800ms 600ms ease-in-out infinite; }

.etoile-5 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 4%;
  top: 45%;
  animation: shin 800ms 300ms ease-in-out infinite; }

.etoile-6 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #9ebffd;
  position: absolute;
  right: 3%;
  bottom: 27%; }

.etoile-7 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #9ebffd;
  position: absolute;
  right: 30%;
  bottom: 10%; }

.etoile-8 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 30%;
  bottom: 6%; }

.etoile-9 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #9ebffd;
  position: absolute;
  left: 40%;
  bottom: 22%;
  animation: shin 800ms 300ms ease-in-out infinite; }

.etoile-10 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 2%;
  bottom: 50%;
  animation: shin 1000ms 300ms ease-in-out infinite; }

.etoile-11 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 56%;
  bottom: 50%;
  opacity: 1;
  animation: shin 1000ms ease-in-out infinite; }

.planete-1 {
  width: 100px;
  position: absolute;
  right: 39%;
  top: 10%;
  height: fit-content;
  animation: spin 10s linear infinite; }

.planete-2 {
  width: 50px;
  position: absolute;
  bottom: 8%;
  right: 8%;
  height: fit-content;
  animation: spin 7s linear infinite reverse; }

.planete-3 {
  width: 35px;
  position: absolute;
  right: 5%;
  top: 12%;
  height: fit-content;
  animation: spin 6s linear infinite; }

.planete-4 {
  position: absolute;
  right: 40%;
  bottom: 23%;
  width: 30px;
  height: fit-content;
  animation: spin 4s linear infinite; }

.chien {
  width: 240px;
  height: fit-content;
  position: absolute;
  bottom: 8%;
  left: 10%;
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite; }

@keyframes caret {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes shin {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 1.8em;
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  box-shadow: #2222881a 2px 3px 3px 3px; }

.nav-active {
  background-color: #222288; }
  .nav-active .nav-item {
    color: white; }

.nav-list {
  display: flex; }

.nav-item {
  font-size: 16px;
  margin-left: 30px;
  color: #222288;
  font-weight: 600;
  cursor: pointer; }
  .nav-item:hover {
    color: #714e9e; }

.logo-container {
  width: 40px; }

.main-footer {
  background-color: #222288;
  padding: 2em; }
  .main-footer p {
    color: white;
    text-align: center;
    margin-top: 1em; }

.icones-container {
  display: flex;
  justify-content: center; }

.svg-container {
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid white;
  padding: 6px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .svg-container:hover {
    opacity: 0.7; }

.a-propos {
  opacity: 0;
  padding: 3em 16em;
  text-align: center;
  position: relative;
  height: 560px;
  background-color: rgba(252, 252, 252, 0.699);
  z-index: -1000; }
  .a-propos p {
    z-index: 1000;
    font-size: 1.1em;
    color: #222288; }
  .a-propos h2 {
    color: #222288;
    margin-bottom: 3em; }

.rond-a-propos {
  z-index: -1000;
  width: 300px;
  height: 300px;
  background-color: #E2F3FA;
  border-radius: 50%;
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translate(-50%, -50%); }

@keyframes animAPropos {
  0% {
    opacity: 0;
    top: 60px; }
  100% {
    opacity: 1;
    top: 0px; } }
.anim-a-propos {
  animation: animAPropos 0.7s ease-in-out forwards; }

.services {
  background-color: #FDF4FA;
  padding: 3em 2em; }
  .services h2 {
    text-align: center;
    color: #222288;
    margin-bottom: 3em; }

.services-ronds-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 60vh; }
  .services-ronds-container h3 {
    color: #222288;
    text-align: center; }

.flip-card {
  background-color: transparent;
  width: 220px;
  height: 220px;
  perspective: 1000px;
  margin-bottom: 1.5em; }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 50%; }

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center; }
  .flip-card-back p {
    color: white;
    font-size: 1.1em; }

.rond-webdev img, .rond-webdesign img, .rond-illustration img {
  width: 70%; }

.rond-webdev {
  background-color: #222288;
  box-shadow: #22228846 2px 6px 6px 3px, #2222882f 0px 0px 8px 0px; }

.rond-webdesign {
  background-color: #714e9e;
  box-shadow: #9868b52d 2px 6px 7px 5px, #9868b52d 0px 0px 8px 0px; }

.rond-illustration {
  background-color: rgba(247, 126, 152, 0.842);
  box-shadow: #fca5bc25 2px 6px 7px 5px, #fca5bc25  0px 0px 8px 0px; }

.btn-choice {
  color: #222288;
  display: block;
  padding: 5px 10px;
  cursor: pointer; }

.clicked {
  color: white; }

#bg-menu-works {
  position: absolute;
  background-color: #222288;
  top: 5px;
  bottom: 5px;
  border-radius: 15px;
  z-index: -1000; }

.bg-menu-dev {
  right: 229px;
  left: 8px; }

.bg-menu-design {
  right: 113px;
  left: 187px; }

.bg-menu-illu {
  right: 8px;
  left: 305px; }

.devToDesign {
  animation: devToDesign 0.4s ease-in-out forwards; }

.designToDev {
  animation: designToDev 0.4s ease-in-out forwards; }

.devToIllu {
  animation: devToIllu 0.4s ease-in-out forwards; }

.illuToDev {
  animation: illuToDev 0.4s ease-in-out forwards; }

.illuToDesign {
  animation: illuToDesign 0.4s ease-in-out forwards; }

.designToIllu {
  animation: designToIllu 0.4s ease-in-out forwards; }

@keyframes designToIllu {
  0% {
    right: 113px;
    left: 187px; }
  100% {
    right: 8px;
    left: 305px; } }
@keyframes illuToDesign {
  0% {
    right: 8px;
    left: 305px; }
  100% {
    right: 113px;
    left: 187px; } }
@keyframes devToIllu {
  0% {
    right: 229px;
    left: 8px; }
  100% {
    right: 8px;
    left: 305px; } }
@keyframes devToDesign {
  0% {
    right: 229px;
    left: 8px; }
  100% {
    right: 113px;
    left: 187px; } }
@keyframes designToDev {
  0% {
    right: 113px;
    left: 187px; }
  100% {
    right: 229px;
    left: 8px; } }
@keyframes illuToDev {
  0% {
    right: 8px;
    left: 305px; }
  100% {
    right: 229px;
    left: 8px; } }
#works-area {
  min-height: 550px; }

.mes-travaux {
  padding: 3em;
  background-color: rgba(228, 228, 228, 0.055);
  position: relative; }
  .mes-travaux h2 {
    text-align: center;
    color: #222288; }

.works-nav {
  margin: 0 auto 3em auto;
  display: flex;
  border: 1px solid #222288;
  border-radius: 20px;
  width: 420px;
  padding: 5px 9px;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.webDev-portfolio, .WebDesign-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 31%);
  grid-gap: 2em;
  width: 90%;
  margin: auto;
  position: relative; }

.hover-card {
  background-color: #222288;
  opacity: 0.9;
  position: absolute;
  padding: 2em;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 8px;
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.card-portfolio {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  max-height: 170px;
  box-shadow: 0 5px 20px 0 rgba(153, 153, 179, 0.288); }
  .card-portfolio:hover .hover-card {
    display: flex; }
  .card-portfolio:hover .title-hover {
    animation: titleHover 0.5s ease-in-out; }
  .card-portfolio:hover .see-more-container {
    animation: seeMoreHover 0.5s ease-in-out; }

@keyframes titleHover {
  0% {
    opacity: 0;
    top: -30px; }
  100% {
    opacity: 1;
    top: 0; } }
@keyframes seeMoreHover {
  0% {
    opacity: 0;
    right: 35px;
    bottom: 10px; }
  100% {
    opacity: 1;
    right: 15px;
    bottom: 10px; } }
.title-hover {
  display: block;
  font-size: 1.3em;
  color: white;
  position: relative; }

.see-more-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 15px;
  bottom: 10px; }
  .see-more-container img {
    display: block;
    width: 20px;
    margin-left: 8px; }
  .see-more-container .see-more {
    color: white;
    font-size: 15px; }

.illustrations {
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  opacity: 0;
  position: relative;
  top: -20px; }

.display-none {
  display: none; }

.display-flex {
  display: flex;
  animation: portfolioAppear 0.6s ease-in-out forwards; }

.display-grid {
  display: grid;
  animation: portfolioAppear 0.6s ease-in-out forwards; }

@keyframes portfolioAppear {
  0% {
    opacity: 0;
    top: 80px; }
  100% {
    opacity: 1;
    top: 0; } }
.one, .two, .three, .four, .five, .six, .seven, .eight {
  border-radius: 8px;
  overflow: hidden;
  height: 240px;
  margin-bottom: 1.5em;
  cursor: pointer; }

.one {
  width: 22%; }

.two {
  width: 30%; }

.three {
  width: 20%; }

.four {
  width: 20%; }

.five {
  width: 35%; }

.six {
  width: 15%; }

.seven {
  width: 18%; }

.eight {
  width: 24%; }
  .eight img {
    width: 108%; }

.skills {
  padding-top: 3em;
  padding-bottom: 2em;
  background-color: #ebebfcb9; }
  .skills h2 {
    color: #222288;
    text-align: center;
    margin-bottom: 2em; }

.pourcentage-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; }
  .pourcentage-text p {
    color: #222288; }

.title-skills {
  color: #222288;
  font-weight: 300;
  margin-bottom: 0.7em; }

.skills-container {
  background-color: white;
  width: 60%;
  margin: 0 auto 3em auto;
  padding: 2em 4em;
  border-radius: 20px;
  box-shadow: 0 5px 20px 0 rgba(70, 70, 78, 0.1); }

.bg-bar {
  width: 100%;
  height: 13px;
  background-color: #ebebfcb9;
  border-radius: 20px;
  margin-bottom: 0.9em;
  position: relative; }

.pourcentage-bar {
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(247, 126, 152, 0.842); }

@keyframes pourcentBar95 {
  0% {
    width: 0; }
  100% {
    width: 95%; } }
@keyframes pourcentBar90 {
  0% {
    width: 0; }
  100% {
    width: 90%; } }
@keyframes pourcentBar80 {
  0% {
    width: 0; }
  100% {
    width: 80%; } }
@keyframes pourcentBar70 {
  0% {
    width: 0; }
  100% {
    width: 70%; } }
@keyframes pourcentBar40 {
  0% {
    width: 0; }
  100% {
    width: 40%; } }
@keyframes pourcentBar30 {
  0% {
    width: 0; }
  100% {
    width: 30%; } }
@keyframes pourcentBar60 {
  0% {
    width: 0; }
  100% {
    width: 60%; } }
.animation-bar-html {
  animation: pourcentBar95 1s ease-in-out forwards; }

.animation-bar-js {
  animation: pourcentBar70 1s ease-in-out forwards; }

.animation-bar-php {
  animation: pourcentBar40 1s ease-in-out forwards; }

.animation-bar-sql {
  animation: pourcentBar30 1s ease-in-out forwards; }

.animation-bar-ps {
  animation: pourcentBar95 1s ease-in-out forwards; }

.animation-bar-ind {
  animation: pourcentBar90 1s ease-in-out forwards; }

.animation-bar-ai {
  animation: pourcentBar80 1s ease-in-out forwards; }

.animation-bar-XD {
  animation: pourcentBar60 1s ease-in-out forwards; }

.animation-bar-FI {
  animation: pourcentBar60 1s ease-in-out forwards; }

.photoshop, .indesign, .illustrator, .adobeXD, .figma {
  background-color: #be97f1; }

.form-contact {
  background-color: rgba(255, 245, 245, 0.507);
  padding: 4em 8em;
  margin: 0 auto; }
  .form-contact h2 {
    color: #222288;
    text-align: center;
    margin-bottom: 1em; }

.form-section {
  display: flex;
  justify-content: space-between; }

.text-form {
  width: 37%; }
  .text-form p {
    font-size: 1.2em; }
  .text-form a {
    color: #714e9e; }

.formulaire {
  width: 58%; }

.form-input {
  display: flex;
  flex-flow: column;
  margin-bottom: 0.8em; }

label {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px; }

input {
  padding: 0.7em;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 20px 0 rgba(70, 70, 78, 0.1); }

.message {
  resize: none;
  height: 150px;
  border: none;
  border-radius: 15px;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 5px 20px 0 rgba(70, 70, 78, 0.1); }

.submit-message {
  background-color: #222288;
  color: white;
  box-shadow: 0 5px 20px 0 #be97f19a;
  padding: 0.8em 1.5em;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  margin-top: 0.7em; }

.names-input {
  display: flex;
  justify-content: space-between; }
  .names-input .form-lastname, .names-input .form-firstname {
    width: 48%; }

#pop-up {
  z-index: 3010;
  position: absolute;
  background-color: white;
  top: 5em;
  height: 540px;
  right: 9em;
  left: 9em;
  padding: 1.3em 2em 3em 2em;
  border-radius: 20px;
  box-shadow: 0 5px 20px 0 rgba(153, 153, 179, 0.479); }

.pop-up-display-anim {
  animation: popUpAppear 0.5s ease-in-out forwards; }

@keyframes popUpAppear {
  0% {
    opacity: 0;
    top: 8em; }
  100% {
    opacity: 1;
    top: 5em; } }
.pop-up-display-none-anim {
  animation: popUpdisappear 0.4s ease-in-out forwards; }

.pop-up-display-none {
  display: none; }

@keyframes popUpdisappear {
  0% {
    opacity: 1;
    top: 5em; }
  100% {
    opacity: 0;
    top: 7em; } }
.close-container {
  width: 100%;
  display: flex;
  justify-content: end;
  cursor: pointer; }
  .close-container:hover {
    opacity: 0.6; }

#close-pop-up {
  width: 30px;
  height: 30px;
  display: block; }

.bg-pop-up {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(18, 23, 49, 0.603); }

.bg-display-none {
  opacity: 0;
  transition: opacity  0.4s; }

.hide-body {
  height: 20vh;
  overflow-y: hidden; }

.popup-flex {
  display: flex; }

.img-popup {
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(100, 100, 131, 0.288);
  margin-right: 2.5em; }

.text-popup {
  width: 55%;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }

.pop-up-title {
  color: #222288;
  font-size: 2.4em;
  font-weight: 600;
  margin-bottom: 1em; }

.little-title-popup {
  font-size: 1.1em;
  color: #242424;
  font-weight: 500;
  margin-bottom: 9px; }

.pop-up-p {
  margin-bottom: 1em;
  color: #616060; }

.technologies-list {
  display: flex; }

.techno-item {
  background-color: #ada2ee;
  color: white;
  padding: 3px 14px;
  margin-right: 6px;
  border-radius: 15px;
  font-size: 15px;
  box-shadow: 0 5px 6px 0 rgba(120, 62, 122, 0.123); }

.btn-margin-top {
  margin-top: 1.8em; }

.avoid {
  pointer-events: none; }

/*# sourceMappingURL=styles.css.map */
