*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  word-wrap: break-word; }

input {
  border-radius: 0; }

img {
  width: 100%; }

ul, ol {
  list-style: none; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: 500; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 0.5em; }

p, li {
  font-family: 'Open Sans', sans-serif;
  color: #2e2e2e; }

.banner {
  height: 90vh;
  background-color: #222288;
  padding: 7em 10em 5em 5em;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 11vh; }

.arrow-down {
  width: 70px;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%); }

#text-banner {
  font-size: 2.8em;
  color: white;
  width: fit-content; }

.h1-content {
  color: white; }

.h1-content::after {
  content: "|";
  animation: caret 0.8s  infinite; }

.no-after::after {
  content: none; }

.portrait-banner {
  width: 320px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite; }

.etoile-1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 4%;
  top: 8%;
  animation: shin 800ms 300ms ease-in-out infinite; }

.etoile-2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #9ebffd;
  position: absolute;
  left: 25%;
  top: 12%;
  animation: shin 800ms 400ms ease-in-out infinite; }

.etoile-3 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 42%;
  top: 23%; }

.etoile-4 {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #9ebffd;
  position: absolute;
  right: 23%;
  top: 7%;
  animation: shin 800ms 600ms ease-in-out infinite; }

.etoile-5 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 4%;
  top: 45%;
  animation: shin 800ms 300ms ease-in-out infinite; }

.etoile-6 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #9ebffd;
  position: absolute;
  right: 3%;
  bottom: 27%; }

.etoile-7 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #9ebffd;
  position: absolute;
  right: 30%;
  bottom: 10%; }

.etoile-8 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 30%;
  bottom: 6%; }

.etoile-9 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #9ebffd;
  position: absolute;
  left: 40%;
  bottom: 22%;
  animation: shin 800ms 300ms ease-in-out infinite; }

.etoile-10 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 2%;
  bottom: 50%;
  animation: shin 1000ms 300ms ease-in-out infinite; }

.etoile-11 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 56%;
  bottom: 50%;
  opacity: 1;
  animation: shin 1000ms ease-in-out infinite; }

.planete-1 {
  width: 100px;
  position: absolute;
  right: 39%;
  top: 10%;
  height: fit-content;
  animation: spin 10s linear infinite; }

.planete-2 {
  width: 50px;
  position: absolute;
  bottom: 8%;
  right: 8%;
  height: fit-content;
  animation: spin 7s linear infinite reverse; }

.planete-3 {
  width: 35px;
  position: absolute;
  right: 5%;
  top: 12%;
  height: fit-content;
  animation: spin 6s linear infinite; }

.planete-4 {
  position: absolute;
  right: 40%;
  bottom: 23%;
  width: 30px;
  height: fit-content;
  animation: spin 4s linear infinite; }

.chien {
  width: 240px;
  height: fit-content;
  position: absolute;
  bottom: 8%;
  left: 10%;
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite; }

@keyframes caret {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes shin {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2vh 1.8em;
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  box-shadow: #2222881a 2px 3px 3px 3px; }

.nav-active {
  background-color: #222288; }
  .nav-active .nav-item {
    color: white; }

.nav-list {
  display: flex; }

.nav-item {
  font-size: 16px;
  margin-left: 30px;
  color: #222288;
  font-weight: 400; }

.logo-container {
  width: 40px; }

.a-propos {
  padding: 3em 16em;
  text-align: center;
  position: relative;
  height: 90vh; }
  .a-propos p {
    z-index: 1000;
    font-size: 1.1em; }
  .a-propos h2 {
    color: #222288;
    margin-bottom: 3em; }

.rond-a-propos {
  z-index: -1000;
  width: 300px;
  height: 300px;
  background-color: #E2F3FA;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); }

.services {
  background-color: #FDF4FA;
  padding: 3em; }
  .services h2 {
    text-align: center;
    color: #222288;
    margin-bottom: 3em; }

.services-ronds-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 60vh; }
  .services-ronds-container h3 {
    color: #222288;
    text-align: center; }

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin-bottom: 1.5em; }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 50%; }

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center; }
  .flip-card-back p {
    color: white;
    font-size: 1.2em; }

.rond-webdev img, .rond-webdesign img, .rond-illustration img {
  width: 70%; }

.rond-webdev {
  background-color: #222288;
  box-shadow: #22228846 2px 6px 6px 3px, #2222882f 0px 0px 8px 0px; }

.rond-webdesign {
  background-color: #7f4e9e;
  box-shadow: #9868b52d 2px 6px 7px 5px, #9868b52d 0px 0px 8px 0px; }

.rond-illustration {
  background-color: #e9767f;
  box-shadow: #fca5bc25 2px 6px 7px 5px, #fca5bc25  0px 0px 8px 0px; }

.mes-travaux {
  padding: 3em;
  background-color: rgba(228, 228, 228, 0.055); }
  .mes-travaux h2 {
    text-align: center;
    color: #222288; }

.works-nav {
  z-index: 1000;
  margin: 0 auto 3em auto;
  display: flex;
  border: 1px solid #222288;
  border-radius: 20px;
  width: 420px;
  padding: 5px 9px;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.btn-choice {
  color: #222288;
  display: block;
  padding: 5px 10px;
  cursor: pointer; }

.clicked {
  color: white; }

#bg-menu-works {
  position: absolute;
  background-color: #222288;
  top: 5px;
  bottom: 5px;
  border-radius: 15px;
  z-index: -1000; }

.bg-menu-dev {
  right: 229px;
  left: 8px; }

.bg-menu-design {
  right: 113px;
  left: 187px; }

.bg-menu-illu {
  right: 8px;
  left: 305px; }

.devToDesign {
  animation: devToDesign 0.4s ease-in-out forwards; }

.designToDev {
  animation: designToDev 0.4s ease-in-out forwards; }

.devToIllu {
  animation: devToIllu 0.4s ease-in-out forwards; }

.illuToDev {
  animation: illuToDev 0.4s ease-in-out forwards; }

.illuToDesign {
  animation: illuToDesign 0.4s ease-in-out forwards; }

.designToIllu {
  animation: designToIllu 0.4s ease-in-out forwards; }

@keyframes designToIllu {
  0% {
    right: 113px;
    left: 187px; }
  100% {
    right: 8px;
    left: 305px; } }
@keyframes illuToDesign {
  0% {
    right: 8px;
    left: 305px; }
  100% {
    right: 113px;
    left: 187px; } }
@keyframes devToIllu {
  0% {
    right: 229px;
    left: 8px; }
  100% {
    right: 8px;
    left: 305px; } }
@keyframes devToDesign {
  0% {
    right: 229px;
    left: 8px; }
  100% {
    right: 113px;
    left: 187px; } }
@keyframes designToDev {
  0% {
    right: 113px;
    left: 187px; }
  100% {
    right: 229px;
    left: 8px; } }
@keyframes illuToDev {
  0% {
    right: 8px;
    left: 305px; }
  100% {
    right: 229px;
    left: 8px; } }
.webDev-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 31%);
  grid-gap: 2em;
  width: 90%;
  margin: auto; }

.card-portfolio {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  height: 170px;
  box-shadow: rgba(63, 63, 63, 0.164) 3px 4px 5px, rgba(105, 105, 105, 0.13) -3px -3px 3px; }

.hover-card {
  background-color: #222288;
  position: absolute;
  padding: 2em;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.title-hover {
  display: block;
  font-size: 1.3em;
  color: white; }

.see-more-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 15px;
  bottom: 10px; }
  .see-more-container img {
    display: block;
    width: 20px;
    margin-left: 8px; }
  .see-more-container .see-more {
    color: white;
    font-size: 15px; }

.illustrations {
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  opacity: 0;
  position: relative;
  top: -20px; }

.display-none {
  display: none; }

.display-flex {
  display: flex;
  animation: portfolioAppear 0.9s ease-in-out forwards; }

@keyframes portfolioAppear {
  0% {
    opacity: 0;
    top: 80px; }
  100% {
    opacity: 1;
    top: 0; } }
.one, .two, .three, .four, .five, .six, .seven, .eight {
  border-radius: 8px;
  overflow: hidden;
  height: 240px;
  margin-bottom: 1.5em; }

.one {
  width: 22%; }

.two {
  width: 30%; }

.three {
  width: 20%; }

.four {
  width: 20%; }

.five {
  width: 35%; }

.six {
  width: 15%; }

.seven {
  width: 18%; }

.eight {
  width: 24%; }
  .eight img {
    width: 108%; }

/*# sourceMappingURL=styles.css.map */
