.banner {
	height: 90vh;
    background-color: $primary-color;
    padding: 7em 10em 5em 5em;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 9vh;
}

.arrow-down {
    width: 70px;
    position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#text-banner {
    font-size: 2.8em;
    color: white;
    width: fit-content;
}

.h1-content {
    color: white;
}

.h1-content::after {
    content: "|";
    animation: caret 0.8s  infinite;
}

.no-after::after {
    content: none;
}

.portrait-banner {
    width: 320px;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.etoile-1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 4%;
    top: 8%;
    animation: shin 800ms 300ms ease-in-out infinite;
}

.etoile-2 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(158, 191, 253);
    position: absolute;
    left: 25%;
    top: 12%;
    animation: shin 800ms 400ms ease-in-out infinite;
}

.etoile-3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 42%;
    top: 23%;
}

.etoile-4 {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(158, 191, 253);
    position: absolute;
    right: 23%;
    top: 7%;
    animation: shin 800ms 600ms ease-in-out infinite;
}

.etoile-5 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 4%;
    top: 45%;
    animation: shin 800ms 300ms ease-in-out infinite;
}

.etoile-6 {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(158, 191, 253);
    position: absolute;
    right: 3%;
    bottom: 27%;
}

.etoile-7 {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(158, 191, 253);
    position: absolute;
    right: 30%;
    bottom: 10%;
}

.etoile-8 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 30%;
    bottom: 6%;
}

.etoile-9 {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(158, 191, 253);
    position: absolute;
    left: 40%;
    bottom: 22%;
    animation: shin 800ms 300ms ease-in-out infinite;
}

.etoile-10 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 2%;
    bottom: 50%;
    animation: shin 1000ms 300ms ease-in-out infinite;
}
.etoile-11 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 56%;
    bottom: 50%;
    opacity: 1;
    animation: shin 1000ms ease-in-out infinite;
}

//PLANETE BLEUE
.planete-1 {
    width: 100px;
    position: absolute;
    right: 39%;
    top: 10%;
    height: fit-content;
    animation: spin 10s linear infinite ;
}

//PLANETE ROSE AVEC TRAITS
.planete-2 {
    width: 50px;
    position: absolute;
    bottom: 8%;
    right: 8%;
    height: fit-content;
    animation: spin 7s linear infinite reverse;
} 

//PLANETE RAYÉE ROUGE
.planete-3 {
    width: 35px;
    position: absolute;
    right: 5%;
    top: 12%;
    height: fit-content;
    animation: spin 6s linear infinite;
}

//PLANETE À POIDS
.planete-4 {
    position:absolute;
    right: 40%;
    bottom: 23%;
    width: 30px;
    height: fit-content;
    animation: spin 4s linear infinite;
}


.chien {
    width: 240px;
    height: fit-content;
    position: absolute;
    bottom: 8%;
    left: 10%;
    transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
}


  @keyframes caret {
    0% {
      opacity: 1;
    }
    50% {
        opacity: 0.6;
      }
    100% {
        opacity: 1;
    }
}

//ANIMATIONS

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}



@keyframes shin { 
    0%   { opacity:1; }
    50%  { opacity:0.4; }
    100% { opacity:1; }
}



@keyframes float { 
        0% {
            
            transform: translatey(0px);
        }
        50% {
            
            transform: translatey(-20px);
        }
        100% {
            
            transform: translatey(0px);
        }
}
