.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7em 1.8em;
	z-index: 1000;
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: white;
	box-shadow: #2222881a 2px 3px 3px 3px;
	height: 65px;
	max-height: 65px;
}

.nav-active {
	background-color: $primary-color;
	.nav-item {
		color: white;

		&:hover {
			color: $bg-violet;
		}
	}
}

.nav-list {
	display: flex;
}

.nav-item {
	font-size: 1em;
	margin-left: 30px;
	color: $primary-color;
	font-weight: 500;
	cursor: pointer;

	&:hover {
		color: $violet;
	}
}

.logo-container {
	width: 40px;
}

.small-nav-menu {
	display: none;
}