h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5em;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5em;
	margin-bottom: 0.6em;
	font-weight: 600;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
	font-weight: 500;
	margin-bottom: 0.5em;
}

p, li, label{
	font-family: 'Open Sans', sans-serif;
	color: rgb(46, 46, 46);
}

.btn {
	background-color: $primary-color;
	color: white;
	box-shadow: 0 5px 20px 0 #be97f19a;
	padding: 0.5em 1.5em;
	font-size: 18px;
	border: none;
	border-radius: 50px;
	margin-top: 0.7em;
	cursor: pointer;
	display: block;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	width: fit-content;

	&:hover {
		background-color: darken($primary-color, $amount: 10);
	}
}

.link {
		color: $violet;
		text-decoration: none;
		font-weight: 500;

		&:hover {
			color: darken($violet, $amount: 15);
		}
	}