.form-contact {
	background-color: rgba(255, 245, 245, 0.507);
	padding: 4em 8em;
	margin: 0 auto;

	h2 {
		color: $primary-color;
		text-align: center;
		margin-bottom: 1em;
	}
}

.form-section {
	display: flex;
	justify-content: space-between;
}

.text-form {
	width: 37%;
	p {
		font-size: 1.2em;
	}

	a {
		color: $violet;
	
	}
}

.formulaire {
	width: 58%;
}

.form-input {
	display: flex;
	flex-flow: column;
	margin-bottom: 0.8em;
}

label {
	font-family:'Roboto', sans-serif;
	margin-bottom: 5px;
}

input {
	padding: 0.7em;
	border: none;
	border-radius: 15px;
	box-shadow: 0 5px 20px 0 rgba(70, 70, 78, 0.1);
}

.message {
	resize: none;
	height: 150px;
	border: none;
	border-radius: 15px;
	padding: 1em;
	font-family:'Roboto', sans-serif;
	box-shadow: 0 5px 20px 0 rgba(70, 70, 78, 0.1);

}

.submit-message {
	background-color: $primary-color;
	color: white;
	box-shadow: 0 5px 20px 0 #be97f19a;
	padding: 0.8em 1.5em;
	font-size: 18px;
	border: none;
	border-radius: 50px;
	margin-top: 0.7em;
}

.names-input {
	display: flex;
	justify-content: space-between;

	.form-lastname, .form-firstname {
		width: 48%;
	}

}