.form-contact {
	//background-color: rgba(255, 192, 192, 0.171);
	background-color: rgba(231, 224, 235, 0.158);
	padding: 4em 7em;
	margin: 0 auto;

	h2 {
		color: $primary-color;
		text-align: center;
	}
}

.form-section {
	display: flex;
	justify-content: space-between;
}

.text-form {
	
	margin-bottom: 2em;
	width: 40%;
	p {
		font-size: 1.1em;
	}

}

.formulaire {
	width: 55%;
}

.form-input {
	display: flex;
	flex-flow: column;
	margin-bottom: 0.8em;
}

label {
	margin-bottom: 6px;
	color: $primary-color;
}

input {
	padding: 0.7em;
	border: none;
	border-radius: 15px;
	box-shadow: 0 5px 10px 0 rgba(189, 189, 192, 0.233);
}

.message {
	resize: none;
	height: 150px;
	border: none;
	border-radius: 15px;
	padding: 1em;
	font-family:'Roboto', sans-serif;
	box-shadow: 0 5px 20px 0 rgba(70, 70, 78, 0.1);

}

.submit-message {
	background-color: $primary-color;
	color: white;
	box-shadow: 0 5px 20px 0 #be97f19a;
	padding: 0.8em 1.5em;
	font-size: 18px;
	border: none;
	border-radius: 50px;
	margin-top: 0.7em;
}

.names-input {
	display: flex;
	justify-content: space-between;

	.form-lastname, .form-firstname {
		width: 48%;
	}

}