.a-propos {
	opacity: 0;
	padding: 3em 16em;
	text-align: center;
	position: relative;
	height: 560px;
	background-color: rgba(252, 252, 252, 0.699);
	z-index: -1000;

	p {
		z-index: 1000;
		font-size: 1.1em;
		color: $primary-color;
	}

	h2 {
		color:$primary-color;
		margin-bottom: 3em;
	}
}

.rond-a-propos {
	
	z-index: -1000;
	width: 300px;
	height: 300px;
	background-color: $light-blue;
	border-radius: 50%;
	position: absolute;
	top: 320px;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes animAPropos { 
    0% { 
		opacity: 0;
		top: 60px;
	}

    100% { 
		opacity: 1; 
		top: 0px;}
}

.anim-a-propos {
	animation: animAPropos 0.7s ease-in-out forwards;
}
.services {
	background-color: $bg-pink;
	padding: 3em 2em;

	h2 {
		text-align: center;
		color: $primary-color;
		margin-bottom: 3em;
	}
}

.services-ronds-container {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	height: 60vh;
	h3 {
		color: $primary-color;
		text-align: center;
	}
}

.flip-card {
	background-color: transparent;
	width: 220px;
	height: 220px;
	perspective: 1000px;
	margin-bottom: 1.5em;	
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }


/* Position the front and back side */
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	border-radius: 50%;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  /* Style the back side */
  .flip-card-back {
	color: white;
	transform: rotateY(180deg);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		color: white;
		font-size: 1.1em;
	}
  }


.rond-webdev , .rond-webdesign, .rond-illustration {

	img {
		width: 70%;
	}
}

.rond-webdev {
	background-color: $primary-color;
	box-shadow: #22228846 2px 6px 6px 3px, #2222882f 0px 0px 8px 0px;
}

.rond-webdesign {
	background-color: $violet;
	box-shadow: #9868b52d 2px 6px 7px 5px, #9868b52d 0px 0px 8px 0px;
}

.rond-illustration {
	background-color: $pink;
	box-shadow: #fca5bc25 2px 6px 7px 5px, #fca5bc25  0px 0px 8px 0px;
}

//PORTFOLIO

.mes-travaux {
	padding: 3em;
	background-color: rgba(228, 228, 228, 0.055);
	h2 {
		text-align: center;
		color: $primary-color;
	}
}

.works-nav {
	z-index: 1000;
	margin: 0 auto 3em auto;
	display: flex;
	border: 1px solid $primary-color;
	border-radius: 20px;
	width: 420px;
	padding: 5px 9px;
	justify-content: space-between;
	align-items: center;
	position: relative;
	
}

.btn-choice {
	color: $primary-color;
	display: block;
	padding: 5px 10px;
	cursor: pointer;
}

.clicked {
	color: white;
} 

#bg-menu-works {
	position: absolute;
	background-color: $primary-color;
	top: 5px;
	bottom: 5px;
	border-radius: 15px;
	z-index: -1000;
}

.bg-menu-dev {
	right: 229px;
	left: 8px;
}

.bg-menu-design {
	right: 113px;
	left: 187px;
}

.bg-menu-illu {
	right: 8px;
	left: 305px;
}

.devToDesign {
	animation: devToDesign 0.4s ease-in-out forwards;
}

.designToDev {
	animation: designToDev 0.4s ease-in-out forwards;
}

.devToIllu {
	animation: devToIllu 0.4s ease-in-out forwards;
}

.illuToDev {
	animation: illuToDev 0.4s ease-in-out forwards;
}

.illuToDesign {
	animation: illuToDesign 0.4s ease-in-out forwards;
}

.designToIllu {
	animation: designToIllu 0.4s ease-in-out forwards;
}


@keyframes designToIllu { 
    0% { 
		right: 113px;
		left: 187px;;
	}

    100% { 
		right: 8px;
		left: 305px; }
}


@keyframes illuToDesign { 
    0% { 
		right: 8px;
		left: 305px;
	}

    100% { 
		right: 113px;
		left: 187px; }
}



@keyframes devToIllu { 
    0% { 
		right: 229px; 
		left: 8px;
	}

    100% { 
		right: 8px;
		left: 305px; }
}

@keyframes devToDesign{ 
    0% { 
		right: 229px; 
		left: 8px;
	}

    100% { 
		right: 113px;
		left: 187px; }
}

@keyframes designToDev{ 
    0% { 
		right: 113px;
		left: 187px;
	}

    100% { 
		right: 229px; 
		left: 8px;
		 }
}

@keyframes illuToDev{ 
    0% { 
		right: 8px;
		left: 305px;
	}

    100% { 
		right: 229px; 
		left: 8px;
		 }
}


