#works-area {
	min-height: 500px;
}

//PORTFOLIO DEV
.webDev-portfolio, .WebDesign-portfolio {
	display: grid;
	grid-template-columns: repeat(3, 31%);
	grid-gap: 2em;
	width: 90%;
	margin: auto;
	position: relative;
}

.hover-card {
	background-color: $primary-color;
	position: absolute;
	padding: 2em;
	text-align: center;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border-radius: 8px;
	display: none;
	flex-flow: column;
	justify-content:center;
	align-items: center;
	cursor: pointer;

}

.card-portfolio {
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	max-height: 170px;
	box-shadow: rgba(63, 63, 63, 0.164) 3px 4px 5px , rgba(105, 105, 105, 0.13) -3px -3px 3px ;
	
	&:hover {
		.hover-card {
			display: flex;
		}

		.title-hover {
			animation: titleHover 0.5s ease-in-out;
			
		}

		.see-more-container {
			animation: seeMoreHover 0.5s ease-in-out;
		}
	}
}

@keyframes titleHover { 
    0% { 
		opacity: 0;
		top: -30px;
	}

    100% { 
		opacity: 1;
		top: 0; }
}


@keyframes seeMoreHover { 
    0% { 
		opacity: 0;
		right: 35px;
		bottom: 10px;
		
	}

    100% { 
		opacity: 1;
		right: 15px;
		bottom: 10px;
	 }
}

.title-hover {
	display: block;
	font-size: 1.3em;
	color: white;
	position: relative;
}

.see-more-container {
	display: flex;
	align-items: center;
	position: absolute;
	right: 15px;
	bottom: 10px;

	img {
		display: block;
		width: 20px;
		margin-left: 8px;
	}
	.see-more {
		color: white;
		font-size: 15px;
	}
	
}

//PORTFOLIO ILLUSTRATIONS
.illustrations {
	flex-flow: row wrap;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	opacity: 0;
	position: relative;
	top: -20px;
}

.display-none {
	display: none;
}

.display-flex {
	display: flex;
	animation: portfolioAppear 0.6s ease-in-out forwards;
}

.display-grid {
	display: grid;
	animation: portfolioAppear 0.6s ease-in-out forwards;
}

@keyframes portfolioAppear { 
    0% { 
		opacity: 0;
		top: 80px;
	}

    100% { 
		opacity: 1;
		top: 0; }
}


.one, .two, .three, .four, .five , .six , .seven , .eight {
	border-radius: 8px;
	overflow: hidden;
	height: 240px;
	margin-bottom: 1.5em;
}

.one {
	width: 22%;
  }

.two {
	width: 30%;
}

.three {
	width: 20%;
}

.four {
	width: 20%;

}

.five {
	width: 35%;
}

.six {
	width: 15%;
}

.seven {
	width: 18%;
}

.eight {
	width: 24%;

	img {
		width: 108%;
	}
}
